@font-face {
    font-family: 'Croissant One';
    src: url(../fonts/CroissantOne-Regular.ttf);
    font-style:normal;
    font-weight:900;
}

@font-face{
    font-family:'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-Regular.ttf);
    font-style:normal;
    font-weight:400;
}

@font-face{
    font-family:'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-Italic.ttf);
    font-style:italic;
    font-weight:400;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-SemiBold.ttf);
    font-style:normal;
    font-weight:700;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-BoldItalic.ttf);
    font-style:normal;
    font-weight:900;
}

/* RESET STYLESHEET */

*{ 
    border: 0;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
 } 

 #homepage {
    background-color: #1b341e;
    width: 100%;
}

#homepage main{
   background-color:#A5BF6B;             
}

#homepage header{
    height: 500px;
    width: 100%;
    /* outline: 1px solid red; */
    /* background-color:#1b341e;
    background-image: url(../images/home-page/pexels-daniel-shapiro-17946182.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position:center center;  */
}

/* Explore background options at https://www.w3schools.com/cssref/pr_background-position.php */

header nav {
    background-color: #D9D9D9;
    width: 100%;
    height: 350px;
    /* outline: 1px solid red; */
}

header nav img{
    width: 15%;
    height: 300px;
    margin: 10px;
    padding-right: 15px;
}

header nav ul li{
    font-family:'Croissant One','Times New Roman', serif;
    font-weight: 900;
    font-style: italic;
    color:white;
    font-size: 24px;
    list-style-type: none;
    float: left;
    padding: 10px;
    margin-left: 150px;
    position: relative;
    left: 200px;
    top: -200px;
}

header nav ul li a{
    color:#406833;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
}

nav ul li a:hover{
    color:#a5bf6b;
    background-color:#1b341e;
}


header h1 {font-family:'Croissant One','Times New Roman', serif;
    font-size: 32px;
    font-weight:900;
    color:#D9D9D9;
    background-color:#1b341e;
    height: 120px;
    /* padding: 15px; */
    text-align: center;
    clear: left;
    position: relative;
    top: 25px;
    /* outline: 1px solid purple; */
}

#homepage main {
    width: 100%;
}

.image-banner{
    height: 500px;
    width: 100%;
    margin: auto;
    background-color:#1b341e;
    background-image: url(../images/home-page/pexels-daniel-shapiro-17946182.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position:center center; 
    /* outline: 1px solid red; */
    /* border: 7px;
    border-color: black;
    border-style: solid; */
} 

h5{
    font-family:'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 11px;
    font-style: italic;
    padding: 15px;
    text-align: center;
}

 .section2 {              /*Family  Summary */
    color: black;
    background-color: #a5bf6b;
    height: 400px;
    width: 100%;
    margin: auto;
    /* outline: 1px solid red; */
}

/* .section2 h5 {
    font-family:'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 11px;
    font-style: italic;
    padding: 15px;
    text-align: center;
} */

.section2 h3{                           /*Family header*/
    font-family:'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color:#1b341e; 
    text-transform: uppercase;
    padding: 15px;
    text-align: left;
    position: relative;
    left: 7px;
}

.section2 p {                                    /*Family paragraph*/
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif ;
    font-size: 16px;
    font-variant: normal;
    font-weight: 400;
    color: black;
    padding: 15px;                      
}

/* .section3 img.bottom{ 
    vertical-align:baseline;
    width: 20%;
    height: 10%;
}*/

.section3 {            /*Map of State of VA*/
    width: 100%;
    height: 500px;
}

.section3 div {
   height: 500px;
}

.section3 div img{
    width: 32%;
    height: 500px;
    margin: 0px;
    padding: 0px;
    border: 7px;
    border-color: black;
    border-style: solid;
}

.section3 figcaption{
    font-family:'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 11px;
    font-style: italic;
    text-align:center;
    color: #A5BF6B;
    padding: 15px;
    text-align: center;
}

/* Explore background options at https://www.w3schools.com/cssref/pr_background-repeat.php */

.section4 {                /*Location */
    background-color:#1B341E;
    margin: auto; 
    height: 250px;
}

/* .section4 h5 {
    font-family:'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 11px;
    font-style: italic;
    text-align:center;
    color: #A5BF6B;
    padding: 15px;
    text-align: center;
} */

.section4 h3{                /*Location header*/
    font-family:'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform:capitalize;
    color:#A5BF6B;
    padding: 25px;
    text-align: left;
}

.section4 p{               /*Location paragraph*/
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif ;
    font-size: 16px;
    font-variant: normal;
    font-weight: 400;
    color:#A5BF6B;
    padding: 25px; 
    height: 50px; 
}

.section5 {              /*Religion*/
    background-color:#A5BF6B;
    height: 240px;
    width: 100%;
    margin: auto;
    padding: 15px;
}

.section5 h3{
    font-family:'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform:capitalize;
    color: #1b341e;
    padding: 25px;
    text-align: left;
}

.section5 p{
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif ;
    font-size: 16px;
    font-variant: normal;
    font-weight: 400;
    color: black;
    padding: 25px;  
}

footer {
    background-color: #D9D9D9;
    width: 100%;
    height: 150px;
    padding: 15px;
}

footer div ul li{
    font-family:'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform:capitalize;
    color: #000000;
    border: 100px;
    padding: 25px;
    text-align: left;
    list-style-type: none;
    float: left;
}

footer ul li a{
    color:#406833;
    width: 100%;
}

footer ul li a:hover{
    color:#a5bf6b;
    background-color:#1b341e;
}

.top {
    font-size: 24px;
    position: relative;
    top: 50px;
    right: 910px;
    /* padding: 25px; */
}

.top a{
    color:#406833;
}

.top a:hover{
    color: #a5bf6b;
    background-color: #1b341e;
}

/* ************************************************************************************************ */
/* CONTACT FORM CSS STARTS HERE */

    /* BODY */
    #contactform{
    background-color: #1b341e;
    }

    

    #contactform body{
        width: 100%;
    }

    #contactform main{
        width: 60%;
        margin: auto;
        background-color:#A5BF6B;
        padding: 5%;
    }

    #contactform h2,
    label {
    color: #1b341e;
    margin-bottom:2%;
    }

    #contactform p 
    div {
    color: black;
    margin-bottom: 2%;
    }

    label{
        font-weight: 900;
    }

    #contactform input{
        color:#000000;
        background-color: #D9D9D9;
        padding: 1%;
        /* margin: 1%; */
    }

    #contactform textarea{
        color:#000000;
        background-color: #D9D9D9;
    }
    
    .btn{
        margin-right: 5px;
    }

    /* ***************************************************************************************** */
    /* Page 3 William Henry Clay McFadden Starts Here */
    
    #page3 header nav ul li{      /*It was necessary to provide padding, position, left for WHC McFadden navigation. It wasn't spaced correctly without reiterating it.*/
        /* font-family:'Croissant One','Times New Roman', serif;
        font-weight: 900;
        font-style: italic;
        color: #406833;
        font-size: 24px;
        float: left; */
        padding: 10px;
        margin-left: 150px;
        position: relative;
        left: 200px;
    }
     
    /*header nav ul li a{
        color:#406833;
        width: 100%;
    } */

    .greenheader {            /*dark green background color of header*/
        background-color:#1b341e;
        width:100%;
        height: 900px;
    }

    #page3 main div{                /*light green background color of main*/
        background-color:#a5bf6b;
        width: 100%;
        height: 35%;
    }


    #page3 header h1 {
        color: #D9D9D9;
        font-family:'Croissant One','Times New Roman', serif;
        font-weight:900;
        clear: left;
        height: 120px;
        /* padding: 15px; */
        text-align:center;
        vertical-align: center;
        position: relative;
        top: 25px;
    }

    #page3 header h2{                 /*Patriarch and Nickname: Clay*/
        color: #D9D9D9;
        font-family:'Croissant One','Times New Roman', serif;
        font-size: 24px;
        font-weight:900;
        text-align: center;
        position: relative;
        top: 5px;
    }

    .whcsignature img{    /*Image of WHC's McFadden's Signature*/
        width: 15%;
        height: 50px;
        margin: 10px;
        padding-right: 15px;
        position: relative;
        left: 635px;
    }

    .whcpic img{           /*Image of WHC McFadden*/
        width:250px;
        height: 350px;
        margin: 10px;
        padding-right: 15px;
        position: relative;
        left: 625px;
    }

    .whcpic figcaption{        /*Citation for Image of WHC McFadden*/
        color: #D9D9D9;
        font-family:'Fira Sans Condensed', 'Times New Roman', sans-serif;
        font-size: 11px;
        font-style: italic;
        padding: 15px; 
        position: relative;
        left: 650px;
    }
    
    .whcpic p{                                /*Birth and death dates of WHC McFadden*/
        color: #D9D9D9;
        font-family:'Croissant One','Times New Roman', serif;
        font-size: 20px;
        font-style: normal;
        font-weight:900;
        padding: 10px;
        position: relative;
        left: 550px;
    }

    .obit img{                                /*Obituary of WHC McFadden*/
        width: 250px;
        height: 600px;
        margin: 10px;
        padding-right: 15px;
        position: relative;
        bottom: 650px;
        left: 95px;
    }

    .obit figcaption{                        /*Citation for Obituary of WHC McFadden*/
        color: #D9D9D9;
        font-family:'Fira Sans Condensed', 'Times New Roman', sans-serif;
        font-size: 11px;
        font-style: italic;
        padding: 10px;
        position: relative;
        left: 350px;
        bottom: 1000px;
    }

    .rem img{                           /*Reminenscense article about WHC McFadden*/
        width: 250px;
        height: 550px;
        margin: 10px;
        padding-right: 15px;
        position: relative;
        bottom: 1325px;
        left: 1125px;
    }

    .rem figcaption{                    /*Citation for Reminenscence article about WHC McFadden*/
        color: #D9D9D9;
        font-family:'Fira Sans Condensed', 'Times New Roman', sans-serif;
        font-size: 11px;
        font-style: italic;
        padding: 10px;
        position: relative;
        left: 1125px;
        bottom: 1325px;
    }

    /* #page3 figcaption{
        color: #D9D9D9
        font-family:'Fira Sans Condensed', 'Times New Roman', sans-serif;
        font-size: 11px;
        font-style: italic;
        padding: 15px;
        text-align: center;
    } */
    

    #page3 ul {         /*List of Kid's names*/
        padding: 2px;
        margin: 1%;
    }

    /* #page3 ul li{
        padding: 2px;
        margin: 1%;
    } */

    #page3 footer div{
        background-color: #D9D9D9;
        width: 100%;
        height: 200px;
    }
    

    .whcmain h3{                                /*Categories of Birth/Parents, Residence/Census, etc.*/
        color: #1b341e;
        text-transform: capitalize;
        padding:25px;
        margin-left: 25px;
        /* border: 1px solid red; */
    }

    .whcmain p{                             /*Paragraphs about individual sections like Birth/Parents, Residence/Census, etc.*/
        width: 80%;
        position: relative;
        left: 250px;
        bottom: 68px;
        margin-left: 25px;
        margin-right: 25px;
        /* border: 1px solid purple; */
    }

    .whcmain a{                       /*Link to Findagrave under Death/Burial Section*/
        position: relative;
        bottom: 85px;
        left: 275px;
        color: #406833;
    }

    .whcmain a:hover{
        color: #a5bf6b;
        background-color: #1b341e;
        }
    
    .whcfamily h3{                           /*Children header*/
        margin-left: 50px;
    }

    .whcfamily img{                   /*Family Tree of WHC & EGW McFadden Graphic*/
        width: 300px;
        height: 400px;
        clear: right;
        float: right;
        position: relative;
        bottom: 75px;
        right: 950px;
    }

    .kidsnames li{                  /*List of WHC and EGW McFadden's Children*/
        position:relative;
        bottom: 90px;
        left: 750px;
        padding: 10px;
    }
  
    
  /* ***************************************************************************************** */
    /* Page 4 Ellen Golden Watts McFadden Starts Here */

    .egwobit img{                                /*Obituary of Ellen Golden Watts McFadden*/
        width: 450px;
        height: 400px;
        margin: 10px;
        padding-right: 15px;
        position: relative;
        bottom: 1075px;
        left: 950px;
    }

    .egwobit figcaption{
        color: #D9D9D9;
        position: relative;
        bottom: 1035px;
        left: 950px;
    }

    .eden img{                                /*Photo of Eden School*/
        width: 450px;
        height: 450px;
        margin: 10px;
        padding-right: 15px;
        position: relative;
        bottom: 550px;
        left: 95px;
    }
    
    .eden figcaption{
        color: #D9D9D9;
        position: relative;
        bottom: 535px;
        left: 125px;
    }

     /* ***************************************************************************************** */
    /* Page 5 Mary Lula McFadden Starts Here */

   .lulapic {
    width:250px;
    height: 350px;
    position: relative;
    left: 600px;
    top: 40px;
}

.lulapic figcaption {
    color: #D9D9D9;
    position: relative;
    top: 15px;
    left: 15px;
}


.lulapic p {                                  /*Lula McFadden's birth and death dates*/
    color: #D9D9D9;
    font-family:'Croissant One','Times New Roman', serif;
    font-size: 20px;
    font-style: normal;
    font-weight:900;
    /* padding: 10px; */
    color: #D9D9D9;                                             
    position: relative;
    top: 45px;
    left: 25px;
} 

.marcert img {                            /*Marriage Certificate for Lula McFadden Rowan*/
    width: 300px;
    height: 450px;
    position: relative;
    top: -325px;
    left: 125px;
}

.marcert figcaption {
    color: #D9D9D9;
    position: relative;
    top: -275px;
    left: 140px;
}

.lulaobit img {                  /*Obituary for Lula McFadden Rowan*/
    width: 300px;
    height: 450px;
    position: relative;
    bottom: 825px;
    left: 1050px;
}

.lulaobit figcaption {
    color: #D9D9D9;
    position: relative;
    bottom: 800px;
    left: 1075px;
}

/*************************************************************************************************************************/
/************CSS CODING FOR VIDEO PAGE STARTS NOW ***********************************************************************/

#video header {
    height: 450px;
    background-color: #1b341e;
}

#video h1{
    color: #D9D9D9;
    text-align: center;
    top: -25px;
}

main{
    background-color: #a5bf6b;
}

h3 {
    text-align: left;
    text-transform: capitalize;
    margin-left: 50px;
}

p {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

#video div {              /*Don't use this command without #video to center video, it will cause previous pages to get out of alignment*/
    text-align: center;
} 

 /* div iframe {
    display: flex;
    align-items: center;
    justify-content: center;
 } */
 
